*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Comic Sans MS', cursive, sans-serif;*/
}
.heading h3, h4{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 5px 0 0 10px;
}
.heading{
    background-color: #D0D0D0;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 8px;
}

.contact    {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px;
}
.contact > h3{
    flex-grow: 1;
    text-align: center;

}
.logo1 > img{
    height: 8vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}
/*.menu{
    border-bottom: 2px solid black;
    width: 100%;
}
.menu__inner{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}*/
.image > img{
    height: 5vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.logo > img{
    height: 8vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.nav{
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}
.nav li a{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}
.nav li {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}
.nav li:hover{
    background-color: #ffc744;
    color: white;
    border-radius: 5px;
    /*border: 1px solid #FFA07A;*/
}
.nav li a:hover{
    color: white;
    border-radius: 5px;
}
main {
    display: flex;
    min-height: 120vh;
}

.vertical-nav {
    padding: 1vh 2vw;
    width: 20vw;
    height: auto;
    border-bottom: 2px solid black;

}
.spisok{
    /*font-size: 20px;*/
    /*font-weight: 700;*/
    list-style: none;
}
.spisok li:first-child{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
.spisok li{
    padding-bottom: 10px;
}
.spisok li a {
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.spisok li:nth-child(2):hover {
    color: black;
    text-decoration: none;
    background-color: #ffc744;
    border-radius: 5px;
    width: 70%;
}
.spisok li:nth-child(3):hover {
    color: black;
    text-decoration: none;
    background-color: #ffc744;
    border-radius: 5px;
    width: 70%;
}
.spisok li a:hover{
    text-decoration: none;
    background-color: #ffc744;
    color: white;
    border-radius: 5px;
    width: 70%;
}
.main-content {
    width: 80vw;
    padding: 1vh 2vw;
    /*border: 2px solid black;
    border-top: none;
    border-right: none;*/
}

.razrabotka{
    margin: 10px 0 30px 0;
}
.image1 >img{
    height: 250px;
    width: 270px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid black;

}
.sites {
    display: flex;
    justify-content: space-around;
 /*   grid-template-columns: 1fr 1fr 1fr;*/
    /*gap: 0 230px;*/
    align-items: center;

}
/*.site1 >button{
    margin-bottom: 10px;
}
.site2 >button{
    margin-bottom: 10px;
}
.site3 >button{
    margin-bottom: 10px;
}*/
.card{
    text-align: center;
}
.card >img{
    height: 400px;
    /*weight: 300px;*/
}
.site1{
    background-color: transparent;
    text-align: center;
    /*border: 2px solid black;
    border-radius: 10px;*/

}
.site2{
    background-color: transparent;
    text-align: center;
    /*border: 2px solid black;
    border-radius: 10px;*/
}
.site3{
    background-color: transparent;
    text-align: center;
    /*border: 2px solid black;
    border-radius: 10px;*/
}
.text1{
    margin: 10px;
}
.textmusic{
    margin: 20px 0 30px 0;
    font-size: 20px;
}

/*button {
    border-radius: 0.4em;
    font-size: 0.9em;
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    transition-duration: 0.4s;
    margin-bottom: 10px;
    width: 80%;
}*/

/*button:hover {
    background-color: #ffc744;
    color: white;
    cursor: pointer;
}*/
footer{
    background-color: #D0D0D0;
}
.image {
    padding: 4px 5px 0 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


form label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 50%;
    min-height: 10vh;
    max-width: 100%;
    max-height: 50vh;
}
.send {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    cursor: pointer;
    width: 100%;
}

.send:hover {
    background-color: #9c9c9c;
}

.agreement {
    margin-top: 10px;
    padding: 10px 0;
    display: inline-flex;
    background-color: #ffffff;
    align-items: center;
}
.agreement input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}
main ::before {
    content: '';
    position: fixed; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url(img/abstract-white-gray-orange-gradient-dynamic-fluid-shapes-background_1120554-43958.jpg) center / cover no-repeat;
    filter: blur(5px); /* Размытие */
}